{% extends "blog/base.html" %}{#наследуется от blog/base.html#}

{% block title %}
    {% if post %}
        {{ post.title }}
    {% else %}
        Все посты пользователя {{ blog_post_user_list.author }}
    {% endif %}
{% endblock %}

{% block content_blog %}

    <div class="row">
        <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            {% if blog_post_user_list %}
                {% for post in blog_post_user_list %}
                    <div class="intro">
                        <h1 class="text-center" data-bss-hover-animate="pulse">&nbsp;
                            <a href="{% url 'post-detail' post.slug post.pk %}">{{ post.title }}</a>
                        </h1>
                        <p class="text-center">
                            <span class="by">by</span> {{ post.author }}<span
                                class="date">{{ post.date_created|date:"F d Y" }} </span>
                            {{ post.content|safe|linebreaks|truncatewords:10 }}
                        </p>
                    </div>

                {% endfor %}

            {% else %}
                <h1> Постов пока нет </h1>
            {% endif %}
{#TODO: пиздатый переключение страницы#}
{% if is_paginated %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">Первая</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Предыдущая</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Следующая</a>
          <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Последняя</a>
        {% endif %}

      {% endif %}
        </div>
    </div>









{% endblock %}